header.detail {
  position:relative;
}

.back-icon {
  position:absolute;
  top:0.1em;
  left:0px;
  padding: 0.5em;
  font-size: 2em;
  cursor: pointer;
}

.description {
  width: 90%;
  margin: 1em 5%;
  padding: 5%;
  background-color: #f2f2f2;
  font-family: 'Slabo 27px', serif;
  font-size: 1.5em;
}

.points {
  color: #F29F4A;
  font-size: 8em;
  text-align:center;
  margin: 0.5em auto;
}
